/*
Author: Brayden Hord WDD-100-01 ADELSPERGER
*/ 

/*------------------------------------------------*/
/*-----------------[RESET]------------------------*/
/*------------------------------------------------*/

/* External Font Imports */
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Cabin+Sketch:400,700|Roboto:400,300,500);
/* 
font-family: 'Amatic SC', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Roboto', sans-serif; 
*/

/* @media screen and (max-width : 320px) {
    img.logo {
    display: block;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
  }
  */


  /* Menu Style */
#nav {
   margin: 0 auto;
   width: 800px;
}  
.ribbon {
   background: #0ec4f2;
   height: 62px;
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   z-index: 500; 
   margin: 3em 0;
}

.toplribbon {
   border-color: #0ec4f2 transparent transparent;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: left;
   top: 1px;
   left: -50px;
}
 
.botlribbon {
   border-color: transparent transparent #0ec4f2;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: left;
   top: -40px;
   left: -150px;
}

.toprribbon {
   border-color: #0ec4f2 transparent transparent;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: right;
   right: -45px;
   top: -107px;
}

.botrribbon {
   border-color: transparent transparent #0ec4f2;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: right;
   top: -149px;
   right: -145px;
}

#menu li {
    list-style: none;
    display: block;
    float: left;
    margin: 1em;
}
#menu li a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-family: 'Cabin Sketch', cursive;
    font-size: 35px;
    margin: -.2em -.1em;
}
/* Background */

body {
background-image: url("../images/backg.jpg");
}

/*Logo Attribute*/
img.logo {
    width: 50%;
    top:10px;
    margin: 0 20%;
}



/* Text Styling */
h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 40px;
    text-align: center;
}

div {
    font-family: 'Roboto', sans-serif; 
    display: block;
}

#area1 {
  width: 65%;
  margin-left: 18%;
  margin-right: 18%;
}

/* index image styles */
#area2 {
    width: 70%;
    margin: 0 auto 0 25%;
    display: flex;

}

#area2 img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

/* 3 Columns */


.column-left { 
  float: left; 
  width: 33%; }
.column-right { 
  float: right; 
  width: 33%; }
.column-center { 
  display: inline-block; 
  width: 33%; }


/* Footer */

#page-footer ul li{
    display: inline ;
    align-content: center;
    width: 20em;
    height: auto;
    margin: 15em 20px 15em 0; }